body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  letter-spacing: .5px;
  color: #a1a1a1;
}

p, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

h1 {
	font-weight: 100;
	font-size: 40px;
	line-height: 50px;
	color: #282828;
}

h2 {
	font-weight: 400;
	font-size: 32px;
	line-height: 40px;
	color: #282828;
	margin-bottom: 40px;
}

h3 {
	font-weight: 400;
	font-size: 18px;
	line-height: 26px;
	color: #282828;
	margin-bottom: 10px;
}

.subTitle {
	color: #fb8686;
	font-weight: 400;
	text-transform: uppercase;
	margin-bottom: 5px;
}

.red {
	color: #fb8686;
}

.img-responsive {
	margin: auto;
}

.btn {
	padding: 15px 40px;
	border-radius: 2px;
	text-decoration: none;
	color: #FFF;
	text-transform: uppercase;
	border: 0;
}

.btn-danger {
	background-color: #ff6d6d;
}

input[type=text], input[type=email], input[type=password], input[type=url], input[type=tel], input[type=date], input[type=time], input[type=number] {
	box-shadow: none !important;
	height: 50px;
	line-height: 50px;
	border-radius: 2px;
	border: 1px solid #999cb4;
	background-color: #464c77;
	margin-bottom: 20px;
	color: #FFF;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none !important;
}

::placeholder {
    color: #999cb4 !important;
    opacity: 1;
}


@media (min-width: 768px) {
	h1 {
		font-weight: 100;
		font-size: 58px;
		line-height: 70px;
		color: #282828;
	}
}

@media (min-width: 768px) and (max-width: 1191px) {
}

@media (min-width: 1200px) {
}