.Section7 {
	position: relative;
	padding-top: 50px;
	padding-bottom: 50px;

	background-color: #323969;
}

.Section7 .heightDivider {
	height: 50px;
}

.Section7 h2 {
	color: #FFF;
}

.Section7 p.note {
	color: #999cb4;
}

.Section7 p.note .arrow {
	height: 40px;
	margin-right: 10px;
	vertical-align: text-top;
}

.Section7 p.note2 {
	margin-top: 20px;
}

.Section7 a.link {
	color: #999cb4;
	text-decoration: underline;
}

.Section7 a.link:hover {
	color: #FFFFFF;
}


@media (min-width: 768px) {
}

@media (min-width: 768px) and (max-width: 1191px) {
}

@media (min-width: 1200px) {
	.Section7 {
		padding-top: 100px;
		padding-bottom: 100px;
	}
}