.Section5 {
	position: relative;
	padding-top: 70px;
	padding-bottom: 70px;

	background: url('../assets/img/section5-background.jpg') center center no-repeat;
	background-size: cover;
	background-color: #1f2026;
}

.Section5 .pic {
	background-color: #4e4e5e;
	width: 60px;
	height: 60px;
	margin: 20px auto;
}

.Section5 h3 {
	color: #FFF;
	margin-bottom: 5px;
}

.Section5 h4 {
	font-size: small;
	color: #fb8686;
	margin-bottom: 20px;
}

.Section5 .heightDivider {
	height: 75px;
}

.Section5 .logo {
	opacity: .5;
	height: 50px;
	margin: 25px auto;
}


@media (min-width: 768px) {
}

@media (min-width: 768px) and (max-width: 1191px) {
}

@media (min-width: 1200px) {
	.Section5 {
		padding-top: 150px;
		padding-bottom: 150px;
	}
}