.Section8 {
	position: relative;
	padding-top: 50px;
	padding-bottom: 50px;

	background-color: #FFF;
}

.Section8 .logo {
	margin-left: 0;
	height: 47px;
	margin-bottom: 7px;
}

.Section8 h2 {
	font-weight: 400;
	font-size: 18px;
	line-height: 26px;
	margin-bottom: 35px;
}

.Section8 p {
	line-height: 30px;
}

.Section8 a {
	display: block;
	color: #a1a1a1;
	text-decoration: none;
	margin-bottom: 10px;
}

.Section8 a:hover {
	color: #282828;
}

.Section8 input[type=email] {
	background-color: #f6f6f6;
	color: #282828;
	margin-top: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	width: 80%;
	float: left;
}

.Section8 .btn {
	float: left;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	padding: 15px;
	margin-left: -2px;
	box-shadow: 0 2px 2px #CCC;
	width: 20%;
}

.Section8 .btn .btnIcon {
	height: 20px;
	width: auto;
}

::placeholder {
    color: #999cb4 !important;
    opacity: 1;
}

.Section8 .some {
	display: inline-block;
	opacity: .2;
	margin: 0 10px;
}

.Section8 .some:hover {
	display: inline-block;
	opacity: .5;
	margin: 0 10px;
}



.Section8 .some .someImg {
	height: 20px;
}


@media (min-width: 768px) {
	.Section8 {
		padding-top: 50px;
		padding-bottom: 20px;
	}
}

@media (min-width: 768px) and (max-width: 1191px) {
	.Section8 input[type=email] {
		width: 80%;
	}
}

@media (min-width: 1200px) and (max-width: 1440px) {
	.Section8 {
		background: url('../assets/img/decorationBox3.png') center right -50% no-repeat;
	}
}

@media (min-width: 1441px) {
	.Section8 {
		padding-top: 100px;
		padding-bottom: 70px;

		background: url('../assets/img/decorationBox3.png') center right -23% no-repeat;
	}
}