.Section4 {
	position: relative;
	padding-top: 70px;
	padding-bottom: 50px;
	
	background-color: #FFF;
}

.Section4 .macbook {
	margin-left: 0px;
}

.Section4 .subTitle {
	margin-top: 40px;
}

@media (min-width: 768px) {
	.Section4 .subTitle {
		margin-top: -20px;
	}
}

@media (min-width: 768px) and (max-width: 1191px) {
	.Section4 {
		background: url('../assets/img/decorationBox2.png') center left no-repeat;
		background-size: 50% 100%;
	}
}

@media (min-width: 1200px) {
	.Section4 {
		padding-top: 150px;
		padding-bottom: 100px;
		
		background: url('../assets/img/decorationBox2.png') center left no-repeat;
	}

	.Section4 .subTitle {
		margin-top: 40px;
	}
}