.Section1 {
	position: relative;
	min-height: 80vh;
	background: url('../assets/img/header-photo.jpg') top center no-repeat;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
}

.Section1 .playBtnLink {
	display: block;
	margin: 20px 0;
}

.Section1 .note {
	margin-top: 10px;
	color: #FFFFFF;
	font-size: small;
	font-weight: 200;
}


@media (min-width: 768px) {
	.Section1 .note {
		color: #FFFFFF;
	}
}

@media (min-width: 769px) and (max-width: 1191px) {
	
	
}

@media (min-width: 1200px) {
	.Section1 .note {
		color: #767678;
	}
}