.Section2 {
	position: relative;
	padding-top: 70px;
	padding-bottom: 70px;

	background-color: #FFF;
}

@media (min-width: 768px) {
}

@media (min-width: 769px) and (max-width: 1191px) {
	.Section2 {
		background: url('../assets/img/decorationBoxGrey.jpg') bottom right no-repeat;
		background-size: 40% 100%;
	}
}

@media (min-width: 1200px) {
	.Section2 {
		background: url('../assets/img/decorationBoxGrey.jpg') bottom right no-repeat;
		background-size: 40% 100%;
	}
}