.Section3 {
	position: relative;
	padding-top: 100px;
	padding-bottom: 100px;
	
	background-color: #f6f5f3;
}

.Section3 .icon {
	margin: 30px auto;
}


@media (min-width: 768px) {
	.Section3 {
		background: url('../assets/img/section3-photoBackground.jpg') center no-repeat;
		background-color: #f6f5f3;
	}
}

@media (min-width: 768px) and (max-width: 1191px) {
}

@media (min-width: 1200px) {
	.Section3 {
		padding-top: 180px;
		padding-bottom: 180px;
	}
}