.Section6 {
	position: relative;
	padding-top: 70px;

	background-color: #FFF;
}

.Section6 .heightDivider {
	height: 50px;
}


@media (min-width: 768px) {
}

@media (min-width: 768px) and (max-width: 1191px) {
	.Section6 .heightDivider {
		height: 100px;
	}
}

@media (min-width: 1200px) {
	.Section6 {
		padding-top: 100px;
	}
}